<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    
</body>
</html>
<body>

    <%- include("../includes/navbar.ejs") %>
<div class="max-width-1 m-auto">
    <hr>

<div class="post-img">
    <img src="/images/<%= blog.image %>" alt="blogs_image">
</div>
<div class="m-auto blog-post-content max-width-2 m-auto my-2">
    <h1 class="font1"><%= blog.title %></h1>
    <div class="blogpost-meta">
        <div class="author-info">
            
            <div><%= blog.date %></div>
        </div>
        
    </div>
    <%= blog.description %>
</div>
</div>
<%- include("../includes/footer.ejs") %>

</body>