<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-3">
        </div>
        
            <img src="/images/<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    <%= listing.description %> <br>
                    <p class="date" style="text-transform: uppercase"><%= listing.price %></p> <br>
                </p>
            </div>
        <br />
    </div>
    <div class="col-8 offset-3">
        <hr />
        
        <h4>Leave a review</h4>
        <form action ="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for ="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" />
            </div>
            <div  class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
           <div class="invalid-feedback">
            Please add some comments for review
           </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>

        <hr />

        <h4> All reviews</h4>
        <ul>
            <% for(review of listing.reviews) { %>
            <li> <%= review.comment %> , <%= review.rating %></li>
            <% } %>
        </ul>
    </div> 
    </div>
<<<<<<< HEAD

=======
    </div>
         
    </div>
</body>
>>>>>>> 4a889f8a2e5225896a004c6ee721aefd0a694fba
